.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
  }
  
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 140px;
  }
.container a{
    text-decoration: none;
  }


  .roomBox{
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    margin : 10px 0 10px 0 ;
  }